.matrix {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin-top: 20px;
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border: 1px solid black;
  font-size: 24px;
  font-weight: 500;
  color: white;
}

.blue {
  background-color: blue;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100px; */
}

.red {
  background-color: red;
}
